<div   data-foo="@(42)"></div>
<span  data-foo="@(42)"></span>
<input data-foo="@(42)"></input>
@helper foo()
{
    <div   data-foo="@(42)"></div>
    <span  data-foo="@(42)"></span>
    <input data-foo="@(42)"></input> /* Why is this line a syntax error? */
}
<div   data-foo="@(42)"></div>
<span  data-foo="@(42)"></span>
<input data-foo="@(42)"></input>
